*

!*.config.js
!*.config.cjs
!tsconfig.json
!package.json
!package-lock.json

!.env.example
!src
!src/**
!static
!static/**
!test
!test/**

/.svelte-kit
.*.swp
.*.swo
*.pem
*.log
.git
.gitignore
.env

# ide
.idea
